.head_border {
    border-radius: 0 0 16px 16px;
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #3498db;
    margin: 0 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .head_border_box {
        display: flex;
        justify-content: space-between;
        width: 1270px;

        .head_border_box_left {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 36px;
            color: #fff;

            span {
                color: #e67e22;
            }
        }

        .head_border_box_right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            max-width: 550px;

            a {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 24px;
                color: #fff;
                transition: all 0.13s;

                &:hover {
                    color: #00000060;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                width: 104px;
                height: 41px;
                background: #e67e22;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #1a252f;
                transition: all 0.13s;

                &:hover {
                    background-color: #fff;
                    color: #3498db;
                }
            }
        }
    }
}

.footer {
    margin: 25px auto 0;
    border-radius: 16px 16px 0 0;
    width: 1366px;
    height: 225px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #3498db;
}